Web-Client/src/conf/xml-resources/web-service-references/SW_Viajes/wsdl/localhost_8084/Web-Service/SW_Viajes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://viajes.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://viajes.com/">

<xs:element name="consultarHoteles" type="tns:consultarHoteles" />

<xs:element name="consultarHotelesResponse" type="tns:consultarHotelesResponse" />

<xs:element name="consultarVuelos" type="tns:consultarVuelos" />

<xs:element name="consultarVuelosResponse" type="tns:consultarVuelosResponse" />

<xs:complexType name="consultarVuelos">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarVuelosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarHoteles">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarHotelesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>